body{
    background-image: url(fonddal.jpg);
    background-repeat: repeat;
}
.alfa{
    width: 100%;
    height: 5vh;
}
.six{
    width: 100%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
h1{
    text-align: center;
    font-family: Cooper;
    font-size: 50px;
    color: rgb(100, 86, 86);
}
.partq{
    text-align: center;
    background-color: white;
}
body{
    background-color: white;
}
.six{
    background: rgb(100, 86, 86);
    padding: 15px;
    height: 20px;
    text-align: right;
}
.bunny{
    border-style: dashed;
    width: 50%;
    text-align: right;
}
.six ul li {
    list-style: none;
    display: inline-block;
    margin: 0 110px;
    position: relative;
    
}
.six ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.six ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;   
    transition: 0.5s;
}
.six ul li:hover::after{
    width: 100%;

}
.vay{
     background-color: white;
    border: solid;
    border-color: rgb(100, 86, 86);
    margin-left: 100px;
    margin-right: 100px;
}
.vide{
    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
}
.hidl{
    background-color: rgb(207, 193, 173);
    border: solid;
    border-color:rgb(207, 193, 173) ;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 15px;
}
h3{
    margin-left: 50px;
    margin-right: 50px;
    font-family: calibri 
}
h2{
    font-size: 30pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.lor{
    color: white;
    background-color:  rgb(100, 86, 86);
    margin-left: 100px;
    margin-right: 100px;
}
#wax>img{
    width: 850px;
    height: 400px;
    background : white;
}
#wax{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}#wix>img{
    width: 850px;
    height: 950px;
    background : white;
}
#wix{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}
#wox>img{
    width: 850px;
    height: 500px;
    background : white;
}
#wox{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px
}